#############################
########## Défault ##########
#############################
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog


################################
########## Essentials ##########
################################
ensure essentialmode
ensure esplugin_mysql
ensure es_extended
ensure es_admin2
ensure instance
ensure bob74_ipl
ensure progressBars
ensure InteractSound


########################
########## UI ##########
########################
ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog


################################
########## ESX - Base ##########
################################
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_billing
ensure esx_datastore
ensure esx_skin
ensure esx_service
ensure esx_society
ensure skinchanger
ensure esx_license
ensure esx_identity