endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"


sv_endpointPrivacy true


sv_hostname "Unconfigured | ESX Legacy Server"
set steam_webApiKey ""
sv_licenseKey ""
sv_maxclients 10


sets sv_projectName "Unconfigured | ESX Legacy Server"
sets sv_projectDesc "The official recipe of the most popular FiveM RP framework, containing Jobs, Housing, Vehicles & more!"
sets tags "default, esx, esx legacy, legacy, official, roleplay"
sv_scriptHookAllowed 0


## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on
set mysql_connection_string "mysql://user:password@host/database?waitForConnections=true&charset=utf8mb4"
set mysql_ui true


setr esx:locale "fr"


ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap


add_principal group.admin group.user
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow


ensure chat-theme-gtao
ensure oxmysql


ensure es_extended
ensure [core]