endpoint_add_tcp "0.0.0.0:30142"
endpoint_add_udp "0.0.0.0:30142"


#########################
########## BDD ##########
#########################
set es_enableCustomData "1"
set mysql_connection_string "server=51.38.48.43;database=s77_base;userid=u77_ccArMd2nf6;password=wlNFN.I+anxAqNIOpS8HaHCo"
set mysql_slow_query_warning 5000


###############################
########## Resources ##########
###############################
exec "resources.cfg"


##########################
########## Name ##########
##########################
sv_hostname "Server Hosted by G-Perf.fr"
set sv_projectName "Server Hosted by G-Perf.fr"
set sv_projectDesc "Server Hosted by G-Perf.fr"


############################
########## Server ##########
############################
sv_maxclients 64
sv_scriptHookAllowed 0
sets tags "default"
sets locale "fr-FR" 


###########################
########## ADMIN ##########
###########################
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.fivem:1 group.admin


#############################
########## OneSync ##########
#############################
sv_endpointprivacy true
sets onesync legacy


#####################################
########## Steam + Patreon ##########
#####################################
set steam_webApiKey "DCE240694B9486C7867AF469A2AC228A"